<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Conectar con el servidor usando SocketIO
            var socket = io();

            // Enviar un mensaje cuando el usuario hace clic en el botón
            document.getElementById('SendIngredient').onclick = function () {
                var ing = document.getElementById('ingredientes').value;
                socket.send(ing);
                document.getElementById('ingredientes').value = "";
            };

            // Recibir un mensaje del servidor y mostrarlo
            socket.on('message', function (msg) {
                var messages = document.getElementById('FoundIngredient');
                var newMessage = document.createElement('li');
                newMessage.textContent = msg;
                messages.appendChild(newMessage);
            });
        });
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="container">

        <div class="Menú container">
            <a href="#" class="logo">Menú</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="menu.svg" alt="">
            </label>
            <nav class="navbar">

                <ul>
                    <li><a href="a">Inicio</a></li>
                    <li><a href="a">Mis Recetas</a></li>
                    <li><a href="a">Búsqueda</a></li>
                    <li><a href="a">Iniciar Sesión</a></li>
                </ul>

            </nav>

        </div>
        <div class="header-content">
            <div class="header-1">
                <h1>Nombre de App</h1>
                <p>
                    Este es nuestro nombre de app
                </p>
                <input id="ingredientes" type="text" placeholder="Escribí tu ingrediente">
                <button id="SendIngredient">Enviar</button>
                <ul id="FoundIngredient"></ul>
                <a href="#" class="btm-1">Más información</a>
            </div>
            <div class="header-2">
                <div class="Info">
                    <h3>titulo</h3>
                    <p>texto</p>
                </div>
                <div class="Info">
                    <h3>titulo</h3>
                    <p>texto</p>
                </div>
                <div class="Info">
                    <h3>titulo</h3>
                    <p>texto</p>
                </div>
                <div class="Info">
                    <h3>titulo</h3>
                    <p>texto</p>
                </div>
            </div>
        </div>
    </header>

    <section class="Usuarios">

        <div class="Usuario">
            <a href="#">
                <section class="Usuarios">

                    <div class="Usuario">
                        <a href="#">
                            <img src="Instagram_logo_2022.svg-removebg-preview.png" alt="" width="20" height="20">
                            <h3>Instagram</h3>
                        </a>
                    </div>
                    <div class="Usuario">
                        <a href="#">
                            <img src="2023_Facebook_icon.svg-removebg-preview.png" alt="" width="20" height="20">
                            <h3>Facebook</h3>
                        </a>
                    </div>
                    <div class="Usuario">
                        <a href="#">
                            <img src="twitter-new-logo-twitter-icons-new-twitter-logo-x-2023-x-social-media-icon-free-png.webp"
                                alt="" width="30" height="30">
                            <h3>Twitter</h3>
                        </a>
                    </div>
                    <div class="Usuario">
                        <a href="#">
                            <img src="images-removebg-preview (1).png" alt="" width="20" height="20">
                            <h3>TikTok</h3>
                        </a>
                    </div>

                </section>

                <section class="Nosotros">

                    <div class="Nosotros-txt">
                        <h2>¿Quieres saber más información?</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero minima sunt, sit culpa
                            aut,
                            reiciendis quisquam vel quaerat voluptatem doloribus accusamus voluptates atque rem rerum
                            fugiat cum
                            quia veniam!
                        </p>
                    </div>
                    <div class="Nosotros-ing">
                        <img src="sec1.svg" alt="">
                    </div>

                </section>

                <main class="Servicios">

                    <div class="Servicio">
                        <img src="1.svg" alt="">
                        <h3>?</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores autem culpa quisquam
                            vitae rerum itaque, alias quidem nemo est, amet consequuntur, eius pariatur! Reprehenderit
                            quia magni quisquam animi quidem odit.
                        </p>
                    </div>

                </main>

</body>

</html>